*{
    margin :0;
    padding: 0;
    color: white;
}
header{
    height: 60px;
    background-color: #0f1111;
    
}
button{
    background-color: #f08804;
}
.a{
   font-size: 25px;
    color: #f08804;
}
a{
    text-decoration: none;
    margin-right: 70px;
}
input{
    color: black;
}
footer{
    background-color: #0f1111;
   height: 250px;
   
}
div > h1 {
    color: #f4f804;
    height: 350px;
    background-color: 	#818589 ;
    text-align: center;
    padding-top: 20px;
    
}
.info{
    
    width: 80px;
    display: inline-block;
   
    margin: 20px;
    padding: 20px;
}
.con{
    width: 150px;
    margin: 20px;
    padding: 20px;
    display: inline-block;
     
}
footer a {
    color: blue;
}
